* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #efece3;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.container {
  max-width: 120rem;
  width: 100%;
  margin: auto;
  background: #fff;
}
/* header */
header {
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  background: #8fabd4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.log img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.log h1 {
  font-size: 3.2rem;
}

nav ul li {
  display: inline-block;
  margin-right: 2rem;
}
ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* main box */
main {
  width: 100%;
  /* background: #fdf3f3; */
}
.main-container {
  width: 80%;
  margin: 0 auto;
}
main h2 {
  font-size: 2.4rem;

  margin: 1rem 0;
}
main p {
  font-size: 1.6rem;
  line-height: 1.6;
}
.recent-article {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.recent-article article {
  width: 30%;
  height: 45rem;
  display: inline-block;
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  /* padding: 1rem; */
  overflow: hidden;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.description {
  margin: 0 1.5rem;
}
.description h3 {
  margin-bottom: 1rem;
}
.description p {
  margin-bottom: 1rem;
}
main ul li {
  font-size: 1.6rem;
  /* list-style: none; */
  line-height: 1.6;
}
/* footer  */
footer {
  width: 100%;
  height: 8rem;
  padding: 0 4rem;

  background: #4a70a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer p {
  display: inline-block;
}
