/* Review page styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #efece3;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.reviewContainer {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  background-color: #a3b087;
}

/* header  */
.header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #b87c4c;
}
.header h1 {
  font-size: 3.2rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
ul li a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* main */
main {
  width: 90%;
  margin: 0 auto;
  padding: 8rem 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background: #fff;
}
main article {
  width: 35%;
  min-height: 20rem;
  padding: 1rem;
  border: none;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #f8f8f8;
}
.fullInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.fullInfo img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.info p strong {
  font-size: 2rem;
  font-weight: 700;
}
.location {
  color: #777;
}
.stars {
  margin-bottom: 1rem;
}
.review-desc {
  font-size: 1.4rem;
  line-height: 1.6;
}

/* footer  */
footer {
  width: 100%;
  height: 8rem;
  padding: 0 4rem;

  background: #4a70a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer p {
  display: inline-block;
}
