* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f7a5a5;
}
header {
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  padding: 1rem;
  background: #ffdbb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2.4rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
nav ul li a {
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

/* main */
main {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
}
main section {
  text-align: center;
  line-height: 1.6;
  font-size: 1.6rem;
}
form {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 4rem;
  border: 5px solid #cfe4ca;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* footer  */
footer {
  width: 100%;
  height: 8rem;
  padding: 0 4rem;

  background: #4a70a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer p {
  display: inline-block;
}
