*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* heading font-size for mobile design */

  --heading-1: 4rem;
  --heading-2-: 3.6rem;
  --heading-3: 3.2rem;
  --heading-4: 2.4rem;
  --heading-5: 2rem;
  --heading-6: 1.8rem;

  /* heading font-size for desktop design */

  --heading-1-desktop: 5.6rem;
  --heading-2-desktop: 4.8rem;
  --heading-3-desktop: 4rem;
  --heading-4-desktop: 3.2rem;
  --heading-5-desktop: 2.4rem;
  --heading-6-desktop: 2rem;

  /* line-height for the headings */
  --h1-line-height: 120%;
  --h2-line-height: 120%;
  --h3-line-height: 120%;
  --h4-line-height: 130%;
  --h5-line-height: 140%;
  --h6-line-height: 150%;
  --text-line-height: 160%;

  /* text font-size */
  /* text extra bold, bold, semi-bold, medium , normal, light , line-height of 150% */

  --text-large: 2rem;
  --text-medium: 1.8rem;
  --text-regular: 1.6rem;
  --text-small: 1.4rem;
  --text-tiny: 1.2rem;

  /* font-weight */
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;

  /* colors */
  --primary-color: hsl(120, 33%, 3%);
  --secondary-color: hsl(0, 0%, 100%);

  /* accent color */
  --accent-color-1: hsl(202, 70%, 35%);
  --accent-color-2: hsla(202, 70%, 35%, 0.724);
  --accent-color-3: hsl(120, 1%, 29%);

  /* background colors */
  --background-color-1: hsl(202, 72%, 14%);
  --background-color-2: hsl(200, 35%, 93%);
  --background-color-3: hsl(0, 0%, 100%);
  --background-color-4: hsl(0, 0%, 95%);
  --background-color-5: hsl(0, 64%, 91%);

  /* border-color */
  --border-color: hsla(120, 33%, 3%, 0.154);

  /* body color */
  --body-color: hsl(40, 10%, 94%);

  /* border-radius */
  --border-radius: 5px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-regular);
  background: var(--body-color);
}
/* Hero section  */

.home {
  /* max-width: 48rem; */
  width: 100%;
  margin: 0 auto;
}
.section-header {
  width: 100%;
  background: var(--background-color-1);
  padding: 0 2rem;
}
header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}
.image-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: center;
  cursor: pointer;
}

header nav {
  display: none;
}
.nav-lists {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav-list a:link,
.nav-list a:visited {
  padding: 1rem 2rem;
  font-size: var(--heading-6);
  color: var(--secondary-color);
  font-weight: var(--font-600);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav-list a:hover,
.nav-list a:active {
  color: var(--accent-color-1);
  border: 1px solid var(--accent-color-1);
  border-radius: 5px;
}
header .cta-btn {
  display: none;
}
.cta-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.btn-header {
  padding: 1rem 2rem;
  color: var(--secondary-color);
  border-radius: var(--border-radius);
}
.btn-secondary:link,
.btn-secondary:visited {
  background: transparent;
  border: 2px solid var(--accent-color-3);
  transition: all 0.2s ease-in-out;
}
.btn-secondary:hover,
.btn-secondary:active {
  background: var(--primary-color);
  border: 2px solid var(--accent-color-3);
}
.btn-primary:link,
.btn-primary:visited {
  background: var(--accent-color-1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover,
.btn-primary:active {
  background: var(--background-color-2);
  color: var(--pri);
  border-radius: 5px;
  cursor: pointer;
}
.hamburger-menu i {
  font-size: var(--heading-1);
  color: var(--background-color-2);
  cursor: pointer;
}

/* Hero section */
.section-hero {
  padding: 0 2rem;
  background-image: url(./Project-2/photo-back.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.555),
    rgba(0, 0, 0, 0.741)
  );
  z-index: 1;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  position: relative;
  z-index: 2;
}

.hero-heading {
  font-size: var(--heading-1);
  font-weight: var(--font-600);
  line-height: var(--h1-line-height);
  color: var(--secondary-color);
  text-align: center;
}
.hero-desc {
  text-align: center;
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  color: var(--secondary-color);
}
.hero-cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  font-size: var(--text-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.btn-hero_primary:link,
.btn-hero_primary:visited {
  background: var(--accent-color-1);
  color: var(--secondary-color);

  transition: all 0.2 ease-in-out;
}
.btn-hero_primary:hover,
.btn-hero_primary:active {
  background: var(--accent-color-2);
}
.btn-hero_secondary:link,
.btn-hero_secondary:visited {
  background: transparent;
  color: var(--secondary-color);

  border: 2px solid rgba(73, 75, 73, 0.894);
  transition: all 0.2 ease-in-out;
}
.btn-hero_secondary:hover,
.btn-hero_secondary:active {
  background: var(--background-color-2);
  color: var(--primary-color);
  border: 2px solid var(--background-color-1);
}

/* Features section */

.section-Features {
  width: 100%;
  background: #0a2a3d;
  padding: 6.4rem 2rem;
}
.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4.8rem;
}
.feature-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.feature-box-1 h6 {
  font-size: var(--heading-6);
  color: var(--secondary-color);
}
.feature-box-1 h2 {
  text-align: center;
  font-size: var(--heading-2);
  font-weight: var(--font-400);
  color: var(--secondary-color);
}
.feature-box-1 p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  color: var(--secondary-color);
  text-align: center;
}
.feature-box-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.feature-grid-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.grid-image {
  width: 100%;
  max-height: 30rem;
}
.grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--secondary-color);
}
.grid-desc h4 {
  font-size: var(--heading-4);
  line-height: var(--h4-line-height);
  text-align: center;
}
.grid-desc p {
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
  text-align: center;
}
.feature-box-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.feature-link:link,
.feature-link:visited {
  display: inline-block;
  padding: 1rem 2.4rem;
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.explore-link:link {
  background: var(--accent-color-3);
  transition: all 0.2s ease-in-out;
}
.explore-link:hover,
.explore-link:active {
  background-color: var(--background-color-2);
  color: var(--primary-color);
}

.arrow-link:link,
.arrow-link:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  transition: all 0.2 ease-in-out;
}
.arrow-link:hover,
.arrow-link:active {
  border: 1px solid var(--accent-color-3);
}

/* How it works section */
.section-how-works {
  width: 100%;
  background: var(--background-color-3);
  padding: 6.4rem 2rem;
}
.how-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4.8rem;
}

.how-works-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.how-works-box-1 h6 {
  font-size: var(--heading-6);
  color: var(--primary-color);
}
.how-works-box-1 h2 {
  font-size: var(--heading-2);
  font-weight: var(--font-400);
  color: var(--primary-color);
  text-align: center;
}
.how-works-box-1 p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  color: var(--primary-color);
  text-align: center;
}
.how-works-box-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.grid-how-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.how-works-icon {
  width: 100%;
  text-align: center;
}
.how-works-icon i {
  font-size: var(--heading-1);
}
.grid-how-box h4 {
  font-size: var(--heading-4);
  text-align: center;
}
.grid-how-box p {
  font-size: var(--text-medium);
  text-align: center;
}

.how-works-box-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.how-link:link,
.how-link:visited {
  display: inline-block;
  padding: 1rem 2.4rem;
  color: var(--primary-color);
  font-size: var(--text-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.start-link:link {
  border: 2px solid var(--border-color);
  transition: all 0.2s ease-in-out;
}
.start-link:hover,
.start-link:active {
  background-color: var(--background-color-2);
  color: var(--primary-color);
}

.arrow-link-how:link,
.arrow-link-how:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  transition: all 0.2 ease-in-out;
}
.arrow-link-how:hover,
.arrow-link-how:active {
  border: 1px solid var(--accent-color-3);
}

/* Testimonial section */
.section-testimonial {
  width: 100%;
  background: var(--background-color-5);
  padding: 6.4rem 2rem;
}
.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4.8rem;
}
.testimonial-voice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.testimonial-voice h2 {
  font-size: var(--heading-2);
  line-height: var(--h2-line-height);
  font-weight: var(--font-400);
  text-align: center;
}
.testimonial-voice p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  text-align: center;
}
.testimonial-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.testimonial-grid-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.testimonial-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--heading-4);
  font-weight: var(--font-600);
}
.testimonial-qoute {
  width: 100%;
  text-align: center;
}
.testimonial-qoute h6 {
  font-size: var(--heading-6);
  font-weight: var(--font-400);
  line-height: var(--h6-line-height);
}
.testimonial-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.profile-image {
  width: 7rem;
  height: 7rem;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.profile-name {
  font-size: var(--text-regular);
  font-weight: var(--font-600);
}

/* Pricing Section */
.section-pricing {
  width: 100%;
  background: var(--background-color-3);
  padding: 6.4rem 2rem;
}
.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.pricing-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}
.pricing-box-1 h6 {
  font-size: var(--heading-6);
  line-height: var(--h6-line-height);
}
.pricing-box-1 h2 {
  font-size: var(--heading-2);
  line-height: var(--h2-line-height);
  font-weight: var(--font-400);
  text-align: center;
}
.pricing-box-1 p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  text-align: center;
}
.pricing-box-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.pricing-box {
  width: 100%;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background: var(--background-color-4);
  border: 1px solid var(--border-color);
}
.pricing-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 3.2rem;
}
.pricing-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
}
.pricing-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing-type h4 {
  font-size: var(--heading-4);
  line-height: var(--h6-line-height);
}
.pricing-type i {
  font-size: var(--heading-3);
}
.pricing-number {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.pricing-number h2 {
  font-size: var(--heading-2);
  line-height: var(--h2-line-height);
}
.pricing-number p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
}
.section-pricing hr {
  width: 100%;
  height: 1px;
  border: none;
  outline: none;
  background: var(--border-color);
}

.pricing-plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
}
.pricing-plan p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
}
.pricing-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
}
.pricing-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
}
.pricing-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-btn:link,
.pricing-btn:visited {
  width: 100%;
  padding: 1rem 2.4rem;
  font-size: var(--text-medium);
  text-align: center;
  background: var(--accent-color-1);
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pricing-btn:hover,
.pricing-btn:active {
  background: var(--accent-color-2);
}

/* Cta section*/
.section-cta {
  width: 100%;
  background: var(--background-color-3);
  /* padding: 6.4rem 2rem; */
}
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-box-1 {
  width: 100%;
  padding: 6.4rem 2rem;
}
.cta-start {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.cta-start h2 {
  font-size: var(--heading-2);
  font-weight: var(--font-400);
  line-height: var(--h2-line-height);
  text-align: center;
}
.cta-start p {
  font-size: var(--text-medium);
  font-weight: var(--font-400);
  line-height: var(--text-line-height);
  text-align: center;
}
.cta-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.cta-link {
  padding: 1rem 2rem;
  font-size: var(--text-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.cta-start-link:link,
.cta-start-link:visited {
  background: var(--accent-color-1);
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}
.cta-start-link:hover,
.cta-start-link:active {
  background: var(--accent-color-2);
}
.cta-learn-link:link,
.cta-learn-link:visited {
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.cta-learn-link:hover,
.cta-learn-link:active {
  border: 1px solid var(--accent-color-1);
  color: var(--accent-color-1);
}
.cta-box-2 {
  width: 100%;
  background: var(--background-color-2);
  width: 100%;
  padding: 6.4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.cta-box-2 h2 {
  font-size: var(--heading-2);
  font-weight: var(--font-400);
  line-height: var(--h2-line-height);
  text-align: center;
}
.cta-box-2 p {
  font-size: var(--text-medium);
  font-weight: var(--font-400);
  line-height: var(--text-line-height);
  text-align: center;
}
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form-box input[type="text"] {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  background: var(--background-color-4);
  font-size: var(--text-regular);
  outline: none;
  transition: all 0.2s ease-in-out;
}
.form-box input[type="text"]:focus {
  border: 2px solid var(--accent-color-1);
}
.form-box button {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--secondary-color);
  background: var(--accent-color-1);
  border: none;
  font-size: var(--text-medium);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.form-box button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.cta-box-2 .cta-small-text {
  width: 100%;
  font-size: var(--text-small);
  text-align: left;
}

/* FAQ section */
.section-faq {
  padding: 6.4rem 2rem;
  background: var(--background-color-1);
  color: var(--secondary-color);
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4.8rem;
}
.faq-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.faq-box-1 h2 {
  font-size: var(--heading-2);
  font-weight: var(--font-400);
  line-height: var(--h2-line-height);
}
.faq-box-1 p {
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
  text-align: center;
}
.faq-box-2 {
  width: 100%;
}
.faq-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
.faq-grid-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.faq-icon i {
  font-size: var(--heading-3);
}
.faq-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.faq-desc h6 {
  font-size: var(--heading-6);
  line-height: var(--h6-line-height);
}
.faq-desc p {
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
  text-align: center;
}
.faq-box-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2.4rem;
}
.faq-box-3-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}
.faq-box-3-desc h4 {
  font-size: var(--heading-4);
  line-height: var(--h4-line-height);
  text-align: center;
}
.faq-box-3-desc p {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
  text-align: center;
}
.faq-btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  background: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--accent-color-3);
  font-size: var(--heading-6);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.faq-btn:hover {
  border: 2px solid var(--accent-color-1);
}

/* Footer section */
.section-footer {
  padding: 4.8rem 2rem;
  background: var(--background-color-1);
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4.8rem;
  color: var(--secondary-color);
}
.footer-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2.4rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-content h6 {
  font-size: var(--heading-6);
  line-height: var(--h6-line-height);
}
.footer-content hp {
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
}
.footer-form-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form-footer input[type="text"] {
  padding: 1rem 2.4rem;
  font-size: var(--text-regular);
  background: var(--background-color-2);
  transition: all 0.2s ease-in-out;
}
.form-footer input[type="text"]:focus {
  border: 3px solid var(--accent-color-2);
  outline: none;
}
.form-footer-btn {
  width: 100%;
  padding: 1rem 2.4rem;
  color: var(--primary-color);
  font-size: var(--text-large);
  font-weight: var(--font-600);
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.form-footer-btn:hover {
  background: var(--accent-color-2);
  color: var(--secondary-color);
}
.footer-text p {
  font-size: var(--text-small);
}
.footer hr {
  width: 100%;
  height: 1px;
  border: 1px solid var(--accent-color-3);
}
.footer-box-2 {
  width: 100%;
}
.footer-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.footer-grid-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-grid-box h4 {
  font-size: var(--heading-4);
  line-height: var(--h4-line-height);
}
.footer-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.footer-link {
  font-size: var(--text-regular);
  line-height: var(--text-line-height);
  cursor: pointer;
}
.footer-box-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.footer-logo {
  width: 6rem;
  height: 6rem;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.footer-right {
  font-size: var(--text-medium);
  line-height: var(--text-line-height);
}

/*  media queries for tablet */
@media (min-width: 481px) {
  .home {
    max-width: 76.8rem;
    margin: 0 auto;
  }
  .feature-box-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-image {
    width: 100%;
    max-height: 15rem;
    height: auto;
  }
  .grid-desc {
    gap: 1rem;
  }
  .how-works-box-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .form-box {
    width: 70%;
    flex-direction: row;
  }
  .form-box input[type="text"] {
    width: 60%;
  }

  .form-box button {
    width: 30%;
  }
  .cta-box-2 .cta-small-text {
    width: 60%;
  }
  .faq-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-footer {
    width: 70%;
    flex-direction: row;
  }
  .form-footer input[type="text"] {
    width: 70%;
  }

  .form-footer-btn {
    width: 30%;
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  media queries for desktop */
@media (min-width: 900px) {
  .home {
    max-width: 130rem;
    margin: 0 auto;
  }
  header nav {
    display: block;
  }

  header .cta-btn {
    display: flex;
  }
  .hamburger-menu i {
    display: none;
  }

  .hero-heading {
    font-size: var(--heading-1-desktop);
  }
  .hero-desc {
    font-size: var(--text-large);
  }

  .hero-cta {
    gap: 4rem;
  }
  .btn {
    padding: 2rem 4rem;
    font-size: var(--text-large);
  }
  .section-Features {
    padding: 11.2rem 6.4rem;
  }
  .features {
    gap: 8rem;
  }
  .feature-box-1 {
    gap: 1.6rem;
  }
  .feature-box-1 h6 {
    font-size: var(--heading-6-desktop);
  }
  .feature-box-1 h2 {
    font-size: var(--heading-2-desktop);
  }
  .feature-box-1 p {
    font-size: var(--text-large);
  }
  .feature-grid-box {
    gap: 3.2rem;
  }
  .grid-image {
    width: 100%;
    min-height: 30rem;
  }

  .grid-desc {
    gap: 2.4rem;
  }
  .grid-desc h4 {
    font-size: var(--heading-4-desktop);
  }
  .grid-desc p {
    font-size: var(--text-large);
  }
  .feature-box-3 {
    gap: 3.2rem;
  }
  .feature-link:link,
  .feature-link:visited {
    padding: 2rem 4rem;
    font-size: var(--text-large);
  }

  .arrow-link:link,
  .arrow-link:visited {
    gap: 1.5rem;
  }
  .arrow-link:hover,
  .arrow-link:active {
    border: 2px solid var(--accent-color-3);
  }

  .section-how-works {
    padding: 11.2rem 6.4rem;
  }
  .how-works {
    gap: 8rem;
  }
  .how-works-box-1 {
    gap: 1.6rem;
  }
  .how-works-box-1 h6 {
    font-size: var(--heading-6-desktop);
  }
  .how-works-box-1 h2 {
    font-size: var(--heading-2-desktop);
  }
  .how-works-box-1 p {
    font-size: var(--text-large);
  }

  .how-works-icon i {
    font-size: var(--heading-1-desktop);
  }
  .grid-how-box h4 {
    font-size: var(--heading-4-desktop);
  }
  .grid-how-box p {
    font-size: var(--text-large);
  }
  .how-works-box-3 {
    gap: 3.2rem;
  }
  .how-link:link,
  .how-link:visited {
    padding: 2rem 4rem;
    font-size: var(--text-large);
  }
  .arrow-link-how:link,
  .arrow-link-how:visited {
    gap: 1.5rem;
  }
  .arrow-link-how:hover,
  .arrow-link-how:active {
    border: 2px solid var(--accent-color-3);
  }

  /* Testimonial section */
  .section-testimonial {
    padding: 11.2rem 6.4rem;
  }
  .testimonial {
    gap: 8rem;
  }
  .testimonial-voice {
    gap: 2.4rem;
  }
  .testimonial-voice h2 {
    font-size: var(--heading-2-desktop);
  }
  .testimonial-voice p {
    font-size: var(--text-large);
  }
  .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-grid-box {
    gap: 2.4rem;
  }
  .testimonial-logo {
    font-size: var(--heading-3);
  }
  .testimonial-qoute h6 {
    font-size: var(--heading-6-desktop);
  }

  .profile-image {
    width: 8rem;
    height: 8rem;
  }

  .profile-name {
    font-size: var(--text-large);
  }

  /* Pricing Section */
  .section-pricing {
    padding: 11.2rem 6.4rem;
  }
  .pricing {
    gap: 8rem;
  }
  .pricing-box-1 {
    gap: 1.6rem;
  }
  .pricing-box-1 h6 {
    font-size: var(--heading-6-desktop);
  }
  .pricing-box-1 h2 {
    font-size: var(--heading-2-desktop);
  }
  .pricing-box-1 p {
    font-size: var(--text-large);
  }
  .pricing-box-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }
  .pricing-box {
    padding: 3.2rem;
    justify-content: space-between;
  }

  .pricing-type h4 {
    font-size: var(--heading-4-desktop);
  }
  .pricing-type i {
    font-size: var(--heading-3-desktop);
  }

  .pricing-number h2 {
    font-size: var(--heading-2-desktop);
  }
  .pricing-number p {
    font-size: var(--text-large);
  }

  .pricing-plan p {
    font-size: var(--text-large);
    line-height: var(--text-line-height);
  }

  .pricing-link {
    font-size: var(--text-large);
  }

  /* Cta section*/

  .cta-box-1 {
    padding: 11.2rem 6.4rem;
  }
  .cta-start {
    gap: 3.2rem;
  }
  .cta-start h2 {
    font-size: var(--heading-2-desktop);
  }
  .cta-start p {
    font-size: var(--text-large);
  }
  .cta-links {
    gap: 3rem;
  }
  .cta-link {
    padding: 2rem 4rem;
    font-size: var(--text-large);
  }

  .cta-learn-link:hover,
  .cta-learn-link:active {
    border: 2px solid var(--accent-color-1);
  }
  .cta-box-2 {
    padding: 11.2rem 6.4rem;
  }
  .cta-box-2 h2 {
    font-size: var(--heading-2-desktop);
  }
  .cta-box-2 p {
    font-size: var(--text-large);
  }
  .form-box {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
  }
  .form-box input[type="text"] {
    width: 70%;
  }

  .form-box button {
    width: 30%;
  }

  .cta-box-2 .cta-small-text {
    width: 60%;
  }

  /* FAQ section */
  .section-faq {
    padding: 11.2rem 6.4rem;
  }
  .faq {
    gap: 8rem;
  }
  .faq-box-1 {
    gap: 2.4rem;
  }
  .faq-box-1 h2 {
    font-size: var(--heading-2-desktop);
  }
  .faq-box-1 p {
    font-size: var(--text-large);
  }

  .faq-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 6.4rem;
  }
  .faq-grid-box {
    gap: 2.4rem;
  }
  .faq-icon i {
    font-size: var(--heading-3-desktop);
  }
  .faq-desc {
    gap: 1.6rem;
  }
  .faq-desc h6 {
    font-size: var(--heading-6-desktop);
  }
  .faq-desc p {
    font-size: var(--text-large);
  }

  .faq-box-3-desc {
    gap: 1.6rem;
  }
  .faq-box-3-desc h4 {
    font-size: var(--heading-4-desktop);
  }
  .faq-box-3-desc p {
    font-size: var(--text-large);
  }
  .faq-btn {
    padding: 2rem 4rem;
  }

  /* Footer section */
  .section-footer {
    padding: 8rem 6.4rem;
  }
  .footer {
    gap: 8rem;
  }
  .footer-box-1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .form-content {
    width: 50%;
  }
  .footer-content h6 {
    font-size: var(--heading-6-desktop);
  }
  .footer-content p {
    font-size: var(--text-regular);
  }
  .footer-form-holder {
    width: 50%;
    align-items: center;
  }
  .form-footer {
    width: 70%;
  }
  .form-footer input[type="text"] {
    width: 70%;
  }

  .form-footer-btn {
    width: 30%;
  }
  .footer-text {
    text-align: start;
  }
  .footer-text p {
    font-size: var(--text-regular);
    text-align: start;
  }
  .footer hr {
    width: 100%;
    height: 1px;
    border: 1px solid var(--accent-color-3);
  }
  .footer-box-2 {
    width: 100%;
  }
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer-grid-box {
    gap: 1.6rem;
  }
  .footer-grid-box h4 {
    font-size: var(--heading-6-desktop);
  }
  .footer-links {
    gap: 1rem;
  }

  .footer-logo {
    width: 5rem;
    height: 5rem;
  }
}
