* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #efece3;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

/* header */
header {
  width: 100%;
  height: 8rem;
  background: #703b3b;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 2.4rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
nav ul li a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* main */
main {
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.box {
  width: 35%;
  height: 70rem;
  background: #e1d0b3;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.box img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.box h2 {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem;
}
.box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.box ul li strong {
  font-size: 1.8rem;
  font-weight: 600;
}
.box ul li {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* footer  */
footer {
  width: 100%;
  height: 8rem;
  padding: 0 4rem;

  background: #4a70a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
footer p {
  display: inline-block;
}
